*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 80px;
    padding: 20px;
    border: black 5px solid;
    width: 40% ;
    background-color: #33393e;
    color: seashell;
}

h1{
    margin-bottom: 10px;
    color: gold;
}

form, p{
    line-height: 1.6;
}

.button{
    background-color: #76a5af;
    height: 30px;
    width: 130px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    font-size: 12px;
    box-shadow: grey 2px 2px;
    font-size: 15px;
    color: white;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}